# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Zookeeper (Kotlin)/*
!/Zookeeper (Kotlin)/task/
/Zookeeper (Kotlin)/task/*
!/Zookeeper (Kotlin)/task/src

# Project exclude paths
/Topics/Characters. Char type/Digits or not/out/
/Topics/Characters. Char type/Digits or not/out/production/classes/
/Topics/If expression/Check a number is positive/out/
/Topics/If expression/Check a number is positive/out/production/classes/
/Topics/If expression/Healthy sleep/out/
/Topics/If expression/Healthy sleep/out/production/classes/
/Topics/If expression/Leap year/out/
/Topics/If expression/Leap year/out/production/classes/
/Topics/If expression/Number dividers/out/
/Topics/If expression/Number dividers/out/production/classes/
/Topics/Introduction to MutableList/Initializing a list/out/
/Topics/Introduction to MutableList/Initializing a list/out/production/classes/
/Topics/String templates/Arithmetic expression/out/
/Topics/String templates/Arithmetic expression/out/production/classes/
/Topics/String templates/Date and time formatting/out/
/Topics/String templates/Date and time formatting/out/production/classes/
/Topics/While loops/Bank interest calculation/out/
/Topics/While loops/Bank interest calculation/out/production/classes/
/Topics/While loops/Collatz conjecture/out/
/Topics/While loops/Collatz conjecture/out/production/classes/
/Topics/While loops/Squares of natural numbers/out/
/Topics/While loops/Squares of natural numbers/out/production/classes/
/Topics/While loops/The sequence 1 2 2 3 3 3/out/
/Topics/While loops/The sequence 1 2 2 3 3 3/out/production/classes/
/Topics/While loops/The sum of elements/out/
/Topics/While loops/The sum of elements/out/production/classes/